/*
Template Name    : Modish - Furniture Bootstrap 4 Reaponsive HTML5 Template
Version          : 1.0.0
Author           : Ashish Shah
Author URI       : http://ncodetechnologies.com//
Created.         : July 2018
File Description : Theme default CSS

/*----------------------------------------*/
/*  Theme default CSS
/*----------------------------------------*/
* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
html {
 
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block; *zoom:1;}
blockquote{color:#da5f4b; font-weight:700; font-style:italic; font-size:16px; line-height:28px; padding:18px 0; position:relative; padding-left:80px; margin-bottom:78px;}
blockquote:before{content:''; width:3px; bottom:0; top:0; left:45px; background:#da5f4b; position:absolute;}
blockquote:after{content:''; background:url(../images/quote1.png) top left no-repeat; width:64px; height:48px; position:absolute; top:0; left:65px;}

a {background:transparent; color:#231f20; outline:none; text-decoration:none; vertical-align:baseline; margin:0;  padding:0; -webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}
a:hover{text-decoration:none; color:#df6957;}
a:focus{outline:none;}
.btn.focus, .btn:focus {box-shadow:none !important;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
input, select {vertical-align:middle;}
h1, h2, h3, h4, h5, h6 {font-weight:400;}
img {max-width:100%; height:auto; width:auto\9; border:none; display:block;}
ul {list-style:none;}
strong {font-weight:700;}
.width100, header, footer, section {  /*float:left;*/  width:100% !important;}
.section-padding{padding:70px 0;}
.content-wrapper{background:#fff; position:relative; z-index:1;}
p{line-height:24px; font-size:14px;}
ul{margin:0;}

/* -----------------------------------------------------
	Input
----------------------------------------------------- */
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; -webkit-border-radius: 0; cursor: pointer;}
button[disabled], input[disabled] {cursor: default;}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0;}
input[type="search"] {-moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
input::-moz-focus-inner {border: 0; padding: 0;}
input[type="text"], input[type="password"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"] {outline: none; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; -webkit-appearance: none; font-weight: 400; font-family: 'Karla', sans-serif; background:#f6f6f6; color:#a7a7a7; font-size:16px;}
input[type="text"]:focus, input[type="password"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus, button:focus {outline: none;}
.form-control::-webkit-input-placeholder {color:#c5c5c5;}
.form-control:-moz-placeholder {color:#c5c5c5; opacity:1;}
.form-control::-moz-placeholder{color:#c5c5c5; opacity:1;}
.form-control:-ms-input-placeholder {color:#c5c5c5;}
.form-control::-ms-input-placeholder{color:#c5c5c5;}
.form-control::placeholder{color:#c5c5c5;}
.form-control:focus{box-shadow:none;}

textarea{overflow:auto; vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance:none; font-weight:400; border:none; font-size:16px;}
textarea:focus{outline:none;}

.btn-1{position:relative; display:block;}
.btn-1:after{content:''; background:#231f20; position:absolute; top:0; bottom:0; left:0; right:0; z-index:9; transition:0.5s all ease-in-out; width:0;}
.btn-1:hover:after{content:''; background:#231f20; position:absolute; top:0; bottom:0; left:0; right:0; z-index:9; width:100%;}
.btn-1 span{border:4px solid #231f20; line-height:44px; padding:0 30px; display:block; position:relative; z-index:99; font-size:16px; color:#231f20; transition:0.5s all ease-in-out; text-align:center;}
.btn-1 span i:before{color:#da5f4b; margin:0 0 0 16px;}
.btn-1:hover span{color:#fff;}
.section-padding{padding:55px 0;}
.sec-tit h2{position:relative; color:#231f20; font-size:30px; line-height:30px; font-weight:500; margin-bottom:50px; padding-top:18px;}
.sec-tit h2:before{content:''; position:absolute; top:0; left:0; right:0; margin:auto; height:4px; width:26px; border-radius:4px; background:#da5f4b;}

.sec-tit.style-2 h2{position:relative; color:#231f20; font-size:48px; line-height:35px; font-weight:700; margin-bottom:50px; padding-top:0; padding-left:34px; text-transform:uppercase; display:inline-block;}
.sec-tit.style-2 h2:before{content:''; position:absolute; bottom:0; left:0; top:inherit; right:inherit; margin:auto; height:7px; width:30px;  background:#231f20; border-radius:0;}

.center{max-width:1430px; margin:0 auto; padding:0 15px;}

.pad80{padding:0 80px;}

/*----------------------------------------*/
/*  Animate CSS
/*----------------------------------------*/

.animated{
  -webkit-animation-duration:3s;
  animation-duration:3s;
  -webkit-animation-delay:500ms;
  animation-delay:500ms;
}

.animate-out {
  -webkit-animation-delay:0ms;
  animation-delay:0ms;
}
/* Scroll to top */
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
	  background: #231f20;
	  color: #fff;
	  line-height: 40px;
}
.scrollup:hover{ background:#fff;}


.font-red{ color:#eb2245;}
.font-yellow{color:#ffb00e !important}

/*.equal-space{ padding:70px 0px 70px;}*/
.topmore-space{ padding-top:100px !important;}

.dropdown-menu{ margin:0px;}


/*----------------------------------------*/
/*  2. Loader
/*----------------------------------------*/
.load{height:100vh; width:100%; float:left; background:#fff url(../images/loadLogo.html) no-repeat center center; position:fixed; top:0; left:0; right:0; bottom:0; z-index:999;}
.load .loader{background: #eb2245; -webkit-animation: load1 2s infinite ease-in-out; animation: load1 2s infinite ease-in-out; width: 1px; height: 74px;}
.load .loader{color:#ffffff; text-indent:-9999em; margin:auto; position:relative; font-size:11px; -webkit-transform:translateZ(0); -ms-transform:translateZ(0); transform:translateZ(0); -webkit-animation-delay:-0.16s;  animation-delay:-0.16s; -ms-transform:rotate(52deg); -webkit-transform:rotate(52deg); transform:rotate(52deg); position:absolute; left:0px; right:41px; top:0px; bottom:0px;}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 0px;
  }
  40% {
    box-shadow: 0  0;
    height: 74px;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 0px;
  }
  40% {
    box-shadow: 0  0;
    height: 74px;
  }
}