@font-face {
  font-family: 'fontello';
  src: url('../font/fontelloab36.eot?30329653');
  src: url('../font/fontelloab36.eot?30329653#iefix') format('embedded-opentype'),
       url('../font/fontelloab36.woff2?30329653') format('woff2'),
       url('../font/fontelloab36.woff?30329653') format('woff'),
       url('../font/fontelloab36.ttf?30329653') format('truetype'),
       url('../font/fontelloab36.svg?30329653#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?30329653#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pinterest:before { content: '\e800'; } /* '' */
.icon-security:before { content: '\e801'; } /* '' */
.icon-shipped:before { content: '\e802'; } /* '' */
.icon-shopping-bag:before { content: '\e803'; } /* '' */
.icon-24-hours:before { content: '\e804'; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-loupe:before { content: '\e806'; } /* '' */
.icon-profile:before { content: '\e807'; } /* '' */
.icon-return:before { content: '\e808'; } /* '' */
.icon-compare:before { content: '\e809'; } /* '' */
 /*.icon-right-arrow(3):before { content: '\e80a'; } /* '' */
.icon-telephone:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-envelope:before { content: '\e80e'; } /* '' */
.icon-facebook-logo:before { content: '\e80f'; } /* '' */
.icon-google-plus-logo:before { content: '\e810'; } /* '' */
.icon-pin:before { content: '\e811'; } /* '' */
.icon-shop:before { content: '\e812'; } /* '' */
.icon-right-arrow:before { content: '\e813'; } /* '' */
.icon-left-arrow:before { content: '\e814'; } /* '' */
.icon-reply:before { content: '\e815'; } /* '' */
.icon-squares:before { content: '\e816'; } /* '' */
.icon-arrow-down-filled-triangle:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
 /*.icon-star(1):before { content: '\e819'; } '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-list:before { content: '\e81b'; } /* '' */
.icon-angle-pointing-to-left:before { content: '\e81c'; } /* '' */
.icon-close:before { content: '\e81d'; } /* '' */
.icon-loupe-1:before { content: '\e81e'; } /* '' */
.icon-pinterest-1:before { content: '\e81f'; } /* '' */
.icon-return-1:before { content: '\e820'; } /* '' */
.icon-right:before { content: '\e821'; } /* '' */
.icon-shipped-1:before { content: '\e822'; } /* '' */
.icon-shopping-bag-1:before { content: '\e823'; } /* '' */
.icon-twitter-1:before { content: '\e824'; } /* '' */
.icon-youtube-1:before { content: '\e825'; } /* '' */
.icon-compare-1:before { content: '\e826'; } /* '' */
.icon-facebook-logo-1:before { content: '\e827'; } /* '' */
.icon-google-plus-social-logotype:before { content: '\e828'; } /* '' */
.icon-24-hours-1:before { content: '\e829'; } /* '' */
.icon-trash:before { content: '\e82a'; } /* '' */
.icon-pencil:before { content: '\e82b'; } /* '' */
.icon-wallet:before { content: '\e82c'; } /* '' */
.icon-truck:before { content: '\e82d'; } /* '' */
